/! Image and text
nav.navbar.navbar-light.border-bottom style=("height: 110px;")
  a.navbar-brand href=top_index_path 
    img.d-inline-block.align-top.ml-2 alt="" height="90" src=Header.find(3).image width="90" /
