.container.bg-white
  .row.border-bottom
    a.navbar-brand href=top_index_path 
      img.d-inline-block.align-top.ml-2.mb-2 alt="logo" height="50" src=asset_path("合掌造りの古民家のフリーアイコン.png") width="50" /