/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.


@import "bootstrap";

@import "houses.scss";

@import "_base-pc.scss";

@import "_breadcrumbs.scss";

@import "_buy_houses.scss";

div.field_with_errors {
background-color: #fcc;
padding: 2px;
}

h1 {font-size: 24px;
font-weight: 800;
color: rgb(72, 72, 72);
}
h2 {font-size: 16px;
font-weight: 600;
color: rgb(72, 72, 72);
}

p,a,span {font-size: 14px}
a {
  color: #484848;	
}

.btn-inquiry{
  color: #fff;
  background-color: #e85d47;
  border-color: #e85d47;
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: #f8f9fa;
    
}
.carousel-date {
    text-align: center;
    top: 0;
    bottom: auto;
}
.carousel-list {
}

.carousel-list span{
  font-size: 25px;
  font-weight: 800;
	text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
	color: white;
}

.text-small{
  font-size: 12px;
}

@import "top.scss";