// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-caption {
	padding: 0;
  text-align: start;
  top: 40%;
  left: 10%;
  bottom: auto;
}

.carousel-caption h1{
  font-size: 44px;
  font-weight: 800;
	text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.6);
	color: white;

}

.carousel-caption h3{
  font-size: 25px;
  font-weight: 800;
	text-shadow: 1px 1px 40px rgba(22, 23, 31, 0.4);
	color: white;

}